<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/work_index.css"/>
<link rel="stylesheet" href="/stylesheets/post_index.css"/>
<link rel="stylesheet" href="/stylesheets/landing_page.css"/>
<div id="pageDiv">
	
	<div class="black-panel" id="welcomePanel">
		<h1>Lindsay's Great Art Site!!</h1>
		<h3>Cool thingies are here :D</h3>
	</div>
	<div id="contentDiv">
		<div id="workListDiv">
			<div class="black-panel" id="contentHeadingDiv">
				<h2><b>Available Paintings</b></h2>
			</div>
			<% works.forEach(function(work) { %>
				<div class="col-sm-3" id="workContainerDiv">
					<div class="thumbnail">
						<a class="darken" href="/works/<%= work.id %>"><img  src="<%= work.image %>"/></a>
						<div class="preview-title-content">
							<span class="preview-title"><%= work.title %></span>
						</div>
					</div>
				</div>
			<% }); %>
		</div>

		<div id="postListDiv">
			<div class="preview-post-panel" id="postHeadingDiv">
				<h2><b>Recent Posts</b></h2>
			</div>
			<% posts.forEach(function(post) { %>
				<div class="preview-post-panel" id="postDiv">
					<a href="/posts/<%= post.id %>"><%= post.title %><p><%= post.date %> | <%= post.category %>
					<% if (currentUser !== null && post.display == 0) { %>| <span style="color:red">Private</span><% } %></p></a>
				</div>
			<% }); %>
		</div>
	</div>
</div>

<% include partials/footer %>
