<% include ../partials/header %>

<div width="<%= work.width * 100 %>px" class="work-container">
	<img height="<%= work.height * 100 %>px" class="work-img" src="<%= work.image %>">
	<div class="infobar">
		<p class="infobar-title"><%= work.title %></p>
		<p class="infobar-info"><%= work.info %></p>
	</div>
</div>

<% include ../partials/footer %>
