<% include ../partials/header %>

<div class="work-container">
	<div class="work-img-container">
		<img class="work-img" src="<%= work.image %>">
	</div>
	<div class="infobar">
		<h1><%= work.title %></h1>
		<p><%= work.width %>"x<%= work.height %>" <%= work.type %></p>
		<p class="infobar-info"><%= work.info %></p>
		<% if (currentUser && currentUser.name == "admin") {%>
			<div id="post-admin-paragraph">
				<form class="delete-form" action="<%= work.id %>?_method=DELETE" method="post">
					<a class="edit-link" href="<%= work.id %>/edit">Edit</a>
					<button class="delete-link">Delete</button>
				</form>
			</div>
		<% } %>
			
	</div>
</div>

<% include ../partials/footer %>
